<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top link-top">
  <a class="navbar-brand" href="#">Sam McGrath</a>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link" href="https://limitless-dusk-98372.herokuapp.com/">Home</a>
      </li>
      <li class="nav-item ">
        <a class="nav-link" href="/postal">Select different postal options</a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" href="">Postal Calculator Results</a>
      </li>
    </ul>
  </div>
</nav>